{% set title = "회원가입" %}
{% extends "layout/client.html" %}
 
{% block content -%}
<!-- join -->
<main class="container join">
  <form role="form" action="" id="join_form" method="post">
  <section class="row">
    <div class="col-xs-12">
      <h2 class="a11y-hidden">회원가입</h2>
      <a href="/auth/facebook" class="btn btn-lg btn-point btn-line btn-block textSecondary">페이스북으로 가입하기</a>
      <span class="divider body2">또는</span>
      <ul class="join-input-item">
        <li class="form-group has-feedback">
          <label class="control-label sr-only" for="inputEmail">이메일</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
            <input type="text" name="username" class="input-lg form-control" id="inputEmail" aria-describedby="inputEmail" placeholder="이메일을 입력하세요" required>
          </div>
        </li>
        <li class="form-group has-feedback">
          <label class="control-label sr-only" for="inputUserName">이름</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input type="text" name="displayname" class="input-lg form-control" id="inputUserName" aria-describedby="inputUserName" placeholder="이름을 입력하세요" required>
          </div>
        </li>
        <li class="form-group has-feedback">
          <label class="control-label sr-only" for="inputPassword">비밀번호</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
            <input type="password" name="password" class="input-lg form-control" id="inputPassword" aria-describedby="inputPassword" placeholder="비밀번호를 입력하세요" required>
          </div>
        </li>
        <li class="form-group has-feedback">
          <label class="control-label sr-only" for="inputPasswordConfirm">비밀번호 확인</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
            <input type="password" name="password2" class="input-lg form-control" id="inputPasswordConfirm" aria-describedby="inputPasswordConfirm" placeholder="비밀번호를 다시 입력하세요" required>
          </div>
        </li>
      </ul>
      <div class="checkbox terms-check body2">
        <label>
          <input type="checkbox" value="">
          이용약관 및 개인정보 수집 및 이용에 동의합니다.
        </label>
      </div>
      <button type="submit" class="btn btn-lg btn-main btn-fill btn-block">회원 가입하기</button>
    </div>
  </section>
  </form>
</main>
<script type="text/javascript">
$(document).ready(function() {
    $('#join_form').submit(function(){

        var $passwordInput = $('#join_form input[name=password]');
        var $passwordInput2 = $('#join_form input[name=password2]');

        if($passwordInput.val().length < 4){
            alert("4글자 이상 작성해주세요");
            return false;
        }
        
        if($passwordInput.val() !== $passwordInput2.val()){
            alert("패스워드와 확인용패스워드를 똑같이 입력해주세요.");
            return false;
        }

        return true;
    });
});
</script>
{% endblock %}